In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
x1={'a':[1,2,3] , 'b':[5,6,7] }
y1={'c':[3,4,5] , 'd':[2,3,6]}

In [11]:
x=pd.DataFrame(x1,index=['p1','p2','p3'])
y=pd.DataFrame(y1,index=['p1','p2','p3'])

In [7]:
x

    a  b
p1  1  5
p2  2  6
p3  3  7

In [12]:
y

    c  d
p1  3  2
p2  4  3
p3  5  6

In [13]:
#joining x and y content
x.join(y)

    a  b  c  d
p1  1  5  3  2
p2  2  6  4  3
p3  3  7  5  6

In [16]:
#it will work in different form when the indexes will be different
x.join(y,how="right")

    a  b  c  d
p1  1  5  3  2
p2  2  6  4  3
p3  3  7  5  6

In [17]:
m=pd.DataFrame(x1,index=['p1','p2','p3'])
n=pd.DataFrame(y1,index=['p1','p5','p6'])

In [18]:
m

    a  b
p1  1  5
p2  2  6
p3  3  7

In [19]:
n

    c  d
p1  3  2
p5  4  3
p6  5  6

In [20]:
#it will join only the matching column with m and n rest will be discarded from table
m.join(n)

    a  b    c    d
p1  1  5  3.0  2.0
p2  2  6  NaN  NaN
p3  3  7  NaN  NaN

In [22]:
m.join(n,how="right")

      a    b  c  d
p1  1.0  5.0  3  2
p5  NaN  NaN  4  3
p6  NaN  NaN  5  6

In [25]:
m.join(n,how="left")

    a  b    c    d
p1  1  5  3.0  2.0
p2  2  6  NaN  NaN
p3  3  7  NaN  NaN

In [26]:
m.join(n,how="outer")

      a    b    c    d
p1  1.0  5.0  3.0  2.0
p2  2.0  6.0  NaN  NaN
p3  3.0  7.0  NaN  NaN
p5  NaN  NaN  4.0  3.0
p6  NaN  NaN  5.0  6.0

In [27]:
m.join(n,how="inner")

    a  b  c  d
p1  1  5  3  2